<%= render "sidebar", help_pages: HelpPage.help_index %>
<% wiki_content = @wiki_redirect.nil? ? @help.wiki_page : @wiki_redirect %>
<section id="content">
  <div style="margin-bottom: 1em;">
    <h1><%= "Help: #{@help.pretty_title}" %></h1>
    <div class="dtext-container">
      <%= format_text(wiki_content.body, allow_color: true) %>
    </div>
  </div>
</section>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
Help: <%= @help.pretty_title %>
<% end %>

<% if @help.wiki_page.parent_anchor.present? %>
  <%= javascript_tag nonce: true do -%>
    $(() => { if(!window.location.hash) window.location.hash = "#<%= @help.wiki_page.parent_anchor %>" });
  <% end %>
<% end %>
